env/
notes.txt
venv/
__pycache__/
tester.ipynb
Data/Clean/Asylum_data.csv
Data/Clean/Flags.csv
Data/Clean/Population_data.csv
Cleaning.ipynb
country_of_origin.html
tester_new.ipynb
tt.csv
functions_and_backend.py
speed_improve.ipynb